
@{
    ViewData["Title"] = "AccessIsDenied";
   Layout = "~/Views/shared/_layoutbootstarp.cshtml";
}
<br />
<div class="alert alert-danger" >
    <center><h3>شما دسترسی به این بخش ندارید!!!</h3></center>
</div>

