
@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Views/shared/_layoutbootstarp.cshtml";
}


<br />
<div class="col-md-9">

<div class="alert alert-success myfont" role="alert" style="margin-right:10px;"><center>@ViewBag.message</center></div>
</div>
