
@{
    //ViewBag.Title = "Index";
    ViewBag.description = "فروش انواع هایگلاس های ترک و ایرانی - ام دی اف  3 و 16 میل - صفحه کابینت  -  نوار پی وی سی - ضد آب - تخته روسی - ملامینه و نئوپان و سایر فرآورده های چوبی در شیراز و استان فارس";
    ViewBag.howtoindex = "index2";
    Layout = "~/Views/shared/_layoutbootstarp.cshtml";
}
<link href="~/Content/styles/Slideshow.css" rel="stylesheet" />
<div class="slideshowpart">
    <partial name="~/Views/Shared/NewLayoutPartial/_PartialSlideShow.cshtml" />

</div>
<div class="otherpart">
    <p></p>
</div>