<div class="k-rtl">
    @(Html.Kendo().Grid<PersonViewModel>()
          .Name("grid_SentMessag")
          .Columns(columns =>
          {
              columns.Bound(c => c.GroupId)
                  .ClientTemplate("<div style='text-align:center;width:70%;'><button class='btn btn-danger' onclick='delPersonGroup(\"#=GroupId#\",\"#=Id#\")'  type='button'>حذف</button></div>")
                  .Title("مورد")
                  .Width(120)
                  .Filterable(false)
                  .Sortable(false)
                  .Groupable(false);
              columns.Bound(p => p.GroupName).Width(200).Title("نام گروه");
              columns.Bound(p => p.FullNamePerson).Width(200).Title("مشتری");
              columns.Bound(p => p.Cell).Width(160).Title("موبایل");
              columns.Bound(p => p.CodeMeli).Width(160).Title("کدملی");
              columns.Bound(p => p.Tell).Width(160).Title("تلفن");
              columns.Bound(p => p.Address).Width(400).Title("آدرس");
           
          })
          .Pageable(pageable => pageable
              .Refresh(true)
              .PageSizes(new int[] { 10, 20, 50, 100 })
              .ButtonCount(10))
          .Sortable()
          .Groupable()
          .Scrollable()
          .Filterable()
          .Resizable(resizable => resizable.Columns(true))
          .DataSource(dataSource => dataSource
              .Ajax()
              // .Group(groups => groups.Add(p => p.SentMessagId))
              .PageSize(10)
              .Read(read => read.Action("GroupPerson_Read", "Admin"))
             
          ))
</div>

