<select>
    <option value="1">آشنا نیستم</option>
    <option value="2">کم</option>
    <option value="3">متوسط</option>
    <option value="4">زیاد</option>

    <option value="5">خیلی زیاد</option>
</select>
