<div class="panel">
    <div class="panel-heading" id="jointochatheading" style="cursor:pointer; background-color:#ac0f0f; color:white; font-weight:800;">
        <h4>گفتگوی آنلاین</h4>
    </div>
    <div class="panel-body">
        <br />
        <p><span class="glyphicon glyphicon-triangle-left" aria-hidden="true" style=" margin-left :5px;">  </span> به بخش گفتگوی آنلاین خوش آمدید</p>
        <p> <span class="glyphicon glyphicon-triangle-left" aria-hidden="true" style=" margin-left :5px;">  </span> جهت ادامه خواهشمند است مشخصات زیر را تکمیل فرمایید </p>
        @*<p> <span class="glyphicon glyphicon-triangle-left" aria-hidden="true" style=" margin-left :5px;">  </span> اگر با نام کاربری  وارد شده اید نیاز به تکمیل مشخصات ذیل نیست </p>*@
        <hr />

        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2">نام : <sup style="margin:5px;color:red;">*</sup> </label>
                <div class="col-md-10">
                    <input type="text" required id="unameinchat" placeholder="وارد کردن نام الزامی است" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">ایمیل : </label>
                <div class="col-md-10">
                    <input type="text" id="emailuserinchat" placeholder="Ali@gmail.com" class="form-control" style="font-family:'Times New Roman'; font-size:16px;" />
                </div>
            </div>
        </div>

        <button id="onlinechatconnect" type="submit" class="btn btn-success btn-lg">اتصال</button>
        <button id="closewindows" type="submit" class="btn btn-danger cancel btn-lg">بستن</button>

    </div>
</div>
