@model SoltaniWeb.Models.Domain.tbl_user

<div style="direction: rtl; padding: 20px">
    <h2>@Model.username عزیز !</h2>
    <p>با تشکر از ثبت نام شما در سایت کالای چوب سلطانی ، جهت تغییر رمز عبور میبایست حساب کاربری خود را فعال کنید</p>
    <p>
        <a style="display:inline-block; background-color:forestgreen; color:white;padding:5px;text-align:center;border-radius:5px; text-decoration:none;cursor:pointer; " href="https://www.soltaniwoodproducts.com/Account/ChangePassword?tokenstring=@Model.Tokenstring">تغییر رمز عبور حساب کاربری</a>
    </p>
    </div>
