
@{
    ViewBag.Title = "newstest";
    Layout = "~/Views/shared/_layoutbootstarp.cshtml";
}

<h2  style="text-align:justify; font-weight:800; color:#808080; border:3px solid #000000;cursor:pointer; padding:5px;">newstest</h2>

