


       <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-12" style="background-color:#655555; margin:10px; padding:10px;">
                    <center >
                        <p style="text-align:right;font-size:12pt;"><span class="glyphicon glyphicon-th" style="font-size:12pt;  margin-left:25px; " aria-hidden="true"></span>فروشگاه </p>

                    </center>
                </div>
                <div class="col-md-12">

                    <div class="col-xs-3" style="">
                        <p style="text-align:right;font-size:10pt;"><span class="glyphicon glyphicon-earphone" style="font-size:12pt;  margin-left:25px; " aria-hidden="true"></span>تلفن ثابت :</p>
                    </div>
                    <div class="col-xs-9" style="">
                        <p style="text-align:right;font-size:10pt;">07138219110</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-xs-3" style="">
                        <p style="text-align:right;font-size:10pt;"><span class="glyphicon glyphicon-earphone" style="font-size:12pt;  margin-left:25px; " aria-hidden="true"></span>تلفکس :</p>
                    </div>
                    <div class="col-xs-9" style="">
                        <p style="text-align:right;font-size:10pt;">07138310032</p>
                    </div>

                </div>
                <div class="col-md-12">

                    <div class="col-xs-3" style="">
                        <p style="text-align:right;font-size:10pt;"><span class="glyphicon glyphicon-envelope" style="font-size:12pt;  margin-left:25px; " aria-hidden="true"></span>ایمیل :</p>
                    </div>
                    <div class="col-xs-9" style="">
                        <p style="text-align:right;font-size:10pt; font-family:Arial;">soltaniwoodproducts@gmail.com</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-xs-3" style="">
                        <p style="text-align:right;font-size:10pt;"><span class="glyphicon glyphicon-home" style="font-size:12pt;  margin-left:25px; " aria-hidden="true"></span>آدرس :</p>
                    </div>
                    <div class="col-xs-9" style="">
                        <p style="text-align:right;font-size:10pt;">ایران - شیراز - میدان بسیج - خیابان شهید حراف - روبروی کوچه 2</p>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12" style="background-color:#655555; margin:10px; padding:10px;">
                    <center>
                        <p style="text-align:right;font-size:12pt;"><span class="glyphicon glyphicon-th" style="font-size:12pt;  margin-left:25px; " aria-hidden="true"></span>انبار </p>

                    </center>
                </div>
                <div class="col-md-12">

                    <div class="col-xs-3" style="">
                        <p style="text-align:right;font-size:10pt;"><span class="glyphicon glyphicon-earphone" style="font-size:12pt;  margin-left:25px; " aria-hidden="true"></span>تلفن ثابت :</p>
                    </div>
                    <div class="col-xs-9" style="">
                        <p style="text-align:right;font-size:10pt;">07137742067    -    07137740073    -     07137742578</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-xs-3" style="">
                        <p style="text-align:right;font-size:10pt;"><span class="glyphicon glyphicon-home" style="font-size:12pt;  margin-left:25px; " aria-hidden="true"></span>آدرس :</p>
                    </div>
                    <div class="col-xs-9" style="">
                        <p style="text-align:right;font-size:10pt;">ایران - شیراز - شهرک صنعتی بزرگ شیراز - میدان نوبنیاد - خیابان 2700</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
       <a href="https://www.shahrekhabar.com/instagram" class="feed" title="instargam"><img alt="instargam" src="https://www.shahrekhabar.com/img/instagram.png" width="24" height="24"></a>    <div id="end" class="col-xs-12">
        <center>
            <span class="myfont" style=" font-size:10px; font-weight:900;"> تمامی حقوق مادی و معنوی این وب سایت متعلق به کالای چوب سلطانی می باشد </span>
            <!-- Begin WebGozar.com Counter code -->
            
        </center>
    </div>



