@using SoltaniWeb.Models.Domain
@using SoltaniWeb.Models.repository
@using SoltaniWeb.Models.utility
@using SoltaniWeb.Models.Extensions
@model tbl_user

<div class="card">
    <div class="card-header">
        <h4>

        نمایش منوها
        </h4>
    </div>
    <div class="card-body">
        <table class="table table-responsive table-hover" style="display:table;">
            <tr>
                <td>منو</td>
              
                <td>وضعیت</td>
                
            </tr>
            @foreach (var item in Model.tbl_accesslevels.Where(a => a.access.actiontype == 1))
            {
            <tr>
              
                <td actionname="@item.access.actionname">@item.access.accesscaption</td>
                <td>
                    <input class="accesscheckbox" type="checkbox" accesslevelid="@item.id" checked="@item.accessvalue" />
                </td>
            </tr>
            }
        </table>
    </div>
    <div class="card-footer">

    </div>
</div>
