@model SoltaniWeb.Models.structs.RegisterViewModel



<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


<!-- Modal content -->


    <form action="/Account/registerAction" style="border:none !important;">
        <div id="alertregister" class="alert alert-danger  displayNone">

        </div>
        <div class="form-group">
            <input id="username" name="username" asp-for="username" class="form-control" type="text" placeholder="نام کاربری به انگلیسی وارد شود" />
            <span asp-validation-for="username"></span>
            <input id="password" name="password" asp-for="password" class="form-control" type="password" placeholder="رمز عبور خود را وارد نمایید" />
            <span asp-validation-for="password"></span>
            <input id="confirmpass" name="confirmpass" asp-for="confirmpass" class="form-control" type="password" placeholder="رمز عبور خود را تکرار نمایید" />
            <span asp-validation-for="confirmpass"></span>
            <input id="email" name="email" class="form-control" asp-for="email" type="text" placeholder="ایمیل خود را وارد نمایید" />
            <span asp-validation-for="email"></span>

            <input id="cellphone" name="cellphone" class="form-control" asp-for="cellphone" type="text" placeholder="شماره همراه خود را وارد نمایید" />
            <span asp-validation-for="cellphone"></span>

        </div>
        <div class="text-center"><button id="Btn_Register" class="btn btn-register">ثبت نام</button></div>
    </form>

<script>
    $('input').val('')
</script>