<footer>
    <div class="row part1">
        <div class="col-12 logoFooter d-block d-lg-none text-center"><img src="~/soltanistatic/pictures/SWP_new10.png" alt="" width="200"></div>
        <div class="col-12 col-lg-4 order-1 order-lg-1 col-footer text-center">
            <p><i class="fas fa-map-marker-alt ml-1"></i>شعبه یک: میدان بسیج (فلکه فرودگاه قدیم) خ شهید حراف، روبه روی کوچه 2<br /><i class="fas fa-phone ml-1"></i>071-38219110<br /><i class="fas fa-phone ml-1"></i>071-38310032</p>
        </div>
        <div class="col-12 col-lg-4 order-3 order-lg-2 text-center">
            <div class="logoFooter d-none d-lg-block"><img src="~/soltanistatic/pictures/SWP_new10.png" alt="" width="170"></div>
            <div class="align-items-center justify-content-between">
                <span><a href="https://instagram.com/soltaniwoodproducts" title="Instagram"><i class="smallIcon fab fa-instagram fa-lg"></i></a></span>
                <span><a href="http://www.aparat.com/soltaniwoodproducts/%DA%A9%D8%A7%D9%84%D8%A7%DB%8C_%DA%86%D9%88%D8%A8_%D8%B3%D9%84%D8%B7%D8%A7%D9%86%DB%8C" title="Aparat"><img class="smallIcon aparat" src="~/Content/img/icon/aparat.png"></a></span>
                <span><a href="http://t.me/soltaniwoodproducts" title="Telegram"><i class="smallIcon fab fa-telegram-plane fa-lg"></i></a></span>
            </div>
            <div class="col-12 text-center email"><a href="mailto:info@soltaniwoodproducts.com" title="Email">info@soltaniwoodproducts.com</a></div>
        </div>
        <div class="col-12 col-lg-4 order-2 order-lg-3 col-footer text-center">
            <p><i class="fas fa-map-marker-alt ml-1"></i>شعبه دو: شهرک صنعتی، میدان اول، بلوار کارگر جنوبی3<br /><i class="fas fa-phone ml-1"></i>071-37742578<br /><i class="fas fa-phone ml-1"></i>071-37742067<br /><i class="fas fa-phone ml-1"></i>071-37740073<br /><i class="fas fa-phone ml-1"></i>071-37743587<br /><i class="fas fa-phone ml-1"></i>071-37744452</p>
        </div>
    </div>
    <div class="row part2">
        <div class="col-12 text-center pl-0">تمامی حقوق مادی و معنوی این وب سایت متعلق به کالای چوب سلطانی می باشد</div>
    </div>
    <div class="scrolltop">
        <a href="#top"><i class="fas fa-chevron-up"></i></a>
    </div>
    <div class="chatbox">
        <a href="" data-toggle="collapse" data-target="#collapseLogin"><i class="fas fa-comment"></i></a>
    </div>
    <div class="d-none" style="position:relative">
        <div class="collapse" id="collapseLogin">
            <div class="chatCollapseBox">
                <div class="chatCollapseHeader d-flex justify-content-between align-items-center mb-3">
                    <p class="m-0">سوالی دارید با ما درمیان بگذارید...</p>
                    <button type="button" class="close" data-dismiss="collapse" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="text-center">
                    <div class="form-group">
                        <input id="" name="" class="form-control" type="text" placeholder="نام کاربری به انگلیسی وارد شود" />
                        <input id="" name="" class="form-control" type="password" placeholder="ایمیل خود را وارد نمایید" />
                    </div>
                    <a data-target="#collapseChat" class="btn btn-loginChat">شروع</a>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none" style="position:relative">
        <div class="collapse" id="collapseChat">
            <div class="chatCollapseBox">
                <div class="chatCollapseHeader d-flex justify-content-between align-items-center">
                    <p class="m-0">... عزیز خوش آمدید</p>
                    <button type="button" class="close" data-dismiss="collapse" aria-label="Close" title="خروج">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="chatCollapseBody">
                    <div>
                        <div class="col-12 col-md-6 sendbox">
                            <p class="titleChat">Abbasi</p>
                            <p class="textChat">dfgdfgdfgfgggggggggfgfgfgfgfgfgggggjhhhhhhhhh</p>
                            <p class="dateChat">97/02/18</p>
                        </div>
                        <div class="col-12 col-md-6 recievebox">
                            <p class="titleChat">Abbasi</p>
                            <p class="textChat">با سلام خدمت همکاران گرامی و عزیز وقت بخیر</p>
                            <p class="dateChat">97/02/18</p>
                        </div>
                        <div class="col-12 col-md-6 sendbox">
                            <p class="titleChat">Abbasi</p>
                            <p class="textChat">dfgdfgdfgfgggggggggggggjhhhhhhhhh</p>
                            <p class="dateChat">97/02/18</p>
                        </div>
                        <div class="col-12 col-md-6 recievebox">
                            <p class="titleChat">Abbasi</p>
                            <p class="textChat">با سلام خدمت همکاران گرامی و عزیز وقت بخیر</p>
                            <p class="dateChat">97/02/18</p>
                        </div>
                        <div class="col-12 col-md-6 sendbox">
                            <p class="titleChat">Abbasi</p>
                            <p class="textChat">dfgdfgdfgfgggggggggggggjhhhhhhhhh</p>
                            <p class="dateChat">97/02/18</p>
                        </div>
                        <div class="col-12 col-md-6 recievebox">
                            <p class="titleChat">Abbasi</p>
                            <p class="textChat">با سلام خدمت همکاران گرامی و عزیز وقت بخیر</p>
                            <p class="dateChat">97/02/18</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 d-flex">
                        <div>
                            <div><a href="#" class="btn btn-send" title="ارسال پیام"><i class="fas fa-check"></i></a></div>
                            <div class="text-center"><a title="قطع ارتباط" href="#" class="btn btn-disconnect"><i class="fas fa-times-circle"></i></a></div>
                        </div>
                        <p class="emoji-picker-container">
                            <input data-emoji-input="unicode" data-emojiable="true" type="text" class="form-control" placeholder="پیغام خود را بنویسید..." />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>