@using SoltaniWeb.Models.structs
@model userchangepasswordviewmodel
@{
    //ViewBag.Title = "کالای چوب سلطانی / صفحه ورود";
    ViewBag.howtoindex = "noindex";

    Layout = "~/Views/shared/_layoutbootstarp.cshtml";

}


<div class="container-fluid">
    <div class="col-md-offset-4  col-md-4" style="padding: 20px;top:150px;">
        @if (ViewBag.status == "Success")
        {
            <div class="panel panel-primary" style="border:2px solid #000000 !important;margin:5px;">

                <div class="panel-heading" style="background-color:#16cb2f;">
                    <span style=" text-align :center; color:#000000;">بخش تغییر رمز عبور</span>
                </div>

                <div class="panel-body">
                    <div class="alert alert-danger alertmessage">

                    </div>
                    <form method="post" style="border:none !important;">

                        <div class="MyForm">
                            <div class="NewLineInForm">
                                <div class="iconholder">
                                    <i class="fas fa-user"></i>

                                </div>
                                <div class="controls">
                                    <input asp-for="username" type="text" class="MyControl" userid="@Model.userid" disabled />

                                </div>
                                <span asp-validation-for="username"></span>
                            </div>
                            <div class="NewLineInForm">
                                <div class="iconholder">
                                    <i class="fas fa-key"></i>

                                </div>
                                <div class="controls">
                                    <input asp-for="password" type="password" class="MyControl" value="" placeholder="رمز جدید خود را وارد کنید" autocomplete="off" />

                                </div>
                                <span asp-validation-for="password"></span>
                            </div>
                            <div class="NewLineInForm">
                                <div class="iconholder">
                                    <i class="fas fa-key"></i>

                                </div>
                                <div class="controls">
                                    <input asp-for="confirmpass" type="password" class="MyControl" value="" placeholder="رمز جدید خود را مجدد وارد کنید" autocomplete="off" />

                                </div>
                                <span asp-validation-for="confirmpass"></span>
                            </div>
                        </div>
                        <button id="btenter" type="submit" class="btn btn-success" style=" margin:3px;">ثبت </button>


                    </form>
                </div>




            </div>
        }
        else
        {
            <div class="alert alert-danger myfont" role="alert"><center>@ViewBag.message</center></div>

        }
    </div>

</div>



<script>
    function redirect() {
        window.location.href = "/home/index"
    }
    var i = document.querySelectorAll('#btenter');
    i.item(0).addEventListener("click", function (e) {
        e.preventDefault()
        var userid = $('.MyForm #username').attr('userid')
        var password = $('.MyForm #password').val()
        var confirmpass = $('.MyForm #confirmpass').val()
        var username = $('.MyForm #username').val()
       
        var data = {username:username, userid: userid, password: password, confirmpass: confirmpass }
        if ($("form").valid()) {
            $.post('/Account/changepasswordAction', data, function (result) {
                if (result.jsonstatus == 'Success') {
                    $('.alertmessage').removeClass('alert-danger')
                    $('.alertmessage').addClass('alert-success')
                    $('.alertmessage').html(result.jsonmessage)
                    $('.alertmessage').css('display', 'block')
                    $('form').html('')
                    setInterval(redirect(),2000)
                   
                }

                if (result.jsonstatus == 'validationerror') {
                    var html = ''
                        html += '<ul>'
                    $.each(result.jsonmessage, function (idx, p) {
                        html += '<li>' + p +'</li>'


                    })
                        html += '</ul>'
                    $('.alertmessage').html(html)
                    $('.alertmessage').css('display', 'block')
                }

                else {

                    $('.alertmessage').html(result.jsonmessage)
                    $('.alertmessage').css('display', 'block')
                }
            })
        } else {
            return;
        }

    })


</script>

