.crightpart {
    position:relative;
}
.onlinestatus.Online {
    position: absolute;
    top: 2px;
    right: 12px;
    content:' ';
    width: 12px;
    height: 12px;
    background-color: #45bb66;
    border-radius: 50%;
}
.unread {
    padding:5px;
    border-radius:50%;
}
#contact_id {
    max-height: 570px;
    overflow-y: scroll;
}
.unitheight {
    height: 60px !important;
}
.unitheight:hover{
    box-shadow: 0 4px 8px #bdbbbb;
}
.unitheight img {
    height: 50px !important;
    width: 50px !important;
    border-radius: 50%;
}
.unitheight a {
    text-decoration: none;
    color: blue;
    font-weight: 900;
}
.unitheight .badge{
    background-color: #6a95cc !important;
    color: #FFF !important;
}

.onlinestatus {
    color: #067d06;
    font-weight: 800;
}
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
}
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
}
.custom-menu li:hover {
    background-color: #DEF;
}
#messagetext {
    font-weight: 800;
    color: #14065d;
}
.mypheading {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
.selected {
    background-color:#fbf3d6;
}
.msgboxselected {
    background-color: #e1fa06 !important;
}
.loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
}
.loader {
    display: none;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 65%;
    left: 50%;
    text-align: center;
    margin-left: -50px;
    margin-top: -100px;
    z-index: 2;
    overflow: auto;
}
.msgtext {
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 800;
}
.from {
    color: #e74200;
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 16px;
    font-weight: 900;
}
.time {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    color: blue;
}
/*.chatbox {
        height: 535px;
        border: 2px solid #d7c7c7;
        width: 100%;
        border-radius: 10px;
        overflow: scroll;
    }*/
.textform {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #d7c7c7;
    border-radius: 10px;
    width: 100%;
}
.speech-bubble-right {
    position: relative;
    background: #b8d6fd;
    border-radius: .4em;
    padding: 10px;
    margin: 2px;
    min-height: 40px;
    margin-right: 30px;
}
.speech-bubble-right:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #b8d6fd;
    border-right: 0;
    margin-top: -20px;
    margin-right: -20px;
}
.speech-bubble-left {
    position: relative;
    background: #a4f3ba;
    border-radius: .4em;
    padding: 10px;
    margin: 2px;
    min-height: 40px;
    float: left;
    margin-right: auto;
    margin-left: 30px;
}
.speech-bubble-left:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #a4f3ba;
    border-left: 0;
    margin-top: -20px;
    margin-left: -20px;
}
.contact {
    box-shadow: 0 4px 8px #CCC;
    padding: 5px 20px;
}
.systemmsg {
    box-shadow: 0 4px 8px #CCC;
    padding: 5px 20px;
}
.cleftpart .listuser {
    text-align: right;
    color: black;
    font-weight: 900;
}
.chatRoomCard .card-header{
    background-color: #332b3a !important;
    padding: .75rem 1.5rem;
}
.chatRoomCard .card-header:first-child{
    border-radius:0 !important;
}
#topbtn {
    margin-bottom: 0;
}
#useractiveheading .importantmsg {
    background-color: #eaa01b;
    border-color: #eaa01b;
    color: #fff;
}
.chatRoomCard {
    border: unset !important;
}
#useractiveheading{
    background-color:#332b3a !important;
}
#contact_id::-webkit-scrollbar {
    width: 8px;
}
#contact_id{
    overflow-x:hidden !important;
}
#contact_part .card-header{
    background-color: #332b3a !important;
}
#contact_part .nav-link {
    color: #332b3a;
}
#contact_part .nav-link.active{
    color:#6a95cc;
}
#contact_part .nav-link:hover {
    color: #6a95cc;
}
#text_part .form-control:focus{
    box-shadow: unset !important;
    border-color: #6a95cc;
}
#text_part #file_attachment{
    background-color:#6a95cc;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    color:#fff;
}
#pin_part .card-body {
    background-image: url('/soltanistatic/pictures/backgroundChat.jpg');
}
.chatRoomCard .emoji-wysiwyg-editor{
    padding-right:5px;
}
.chatRoomCard .emoji-picker-container {
    width: 100%;
}
.chatRoomCard .emoji-picker-icon {
    left:15px;
    top:3px;
    color:#132666;
    font-size:30px;
}
.chatRoomCard .emoji-picker-icon.parent-has-scroll {
    left:15px !important;
    right:96% ;
}
.chatRoomCard .emoji-menu {
    right: 70%;
    width: 400px;
}
#backtocontact_id {
    transition:all linear .2s;
}
#backtocontact_id:hover{
    margin-left:0 !important;
}
.repliedmsg {
    margin-top: 20px;
}
@media (max-width: 1199.98px) {
    .unitheight img {
        height: 100px !important;
        width: 100px !important;
    }
    .unitheight {
        height: 120px !important;
    }
    #contact_id {
        max-height: 900px;
    }
    #file_attachment{
        height:100%;
        font-size:35px;
    }
    .from{
        font-size:30px;
    }
    .time {
        font-size: 20px;
    }
    .repliedmsg {
        margin-top: 35px;
    }
    .onlinestatus.Online {
        width: 23px;
        height: 23px;
    }
    .msgtext {
        margin-top:30px;
        margin-bottom:35px;
    } 
    .msgbox .btn-success{
        font-size:1.5rem;
    }
    .unread{
        padding:12px;
    }
    #useractiveheadingspan{
        font-size:40px;
    }
    #useractiveheading .importantmsg, .pinmsgremove {
        font-size: 25px;
    }
    .listuser{
        font-size:36px;
    }
}