.compage .card-header {
    background-color: #332b3a;
    color: #fff;
}

.compage .rowfirst img {
    width: 100%;
    height: 300px;
    transition: all .5s ease;
}

.compage .btn {
    background-color: #6a95cc;
    color: #fff;
}

.compage .row.rowfirst {
    position: sticky;
    top: -50px;
    right: 0;
    left: 0;
    z-index: 1020;
    border-bottom: 3px solid #6a95cc;
    background-color: #fff;
}

.compage .rowfeatures {
    background-color: #dde4ee;
    color: #132666;
}
.compage .rowfirst .btn {
    padding:10px 30px;
    margin-bottom:15px;
    border-radius:0;
    transition:all .3s linear;
}
    .compage .rowfirst .btn:hover {
        padding-right: 40px;
        padding-left: 40px;
    }
.compage .rowfirst i {
    color: #6a95cc;
    position:absolute;
    top:98%;
    right:48%;
    margin:auto;
}
.compage .brand{
    width:80px;
    height:40px;
}