.products .productsTitle{
    text-align: center;
    font-weight: bolder;
    color: #6a95cc;
    position: relative;
}
.products .productsTitle:after{
    position: absolute;
    content: " ";
    right: 0;
    top: 20px;
    width: 10%;
    height: 4px;
    background-color: #6a95cc;
}
.products .productsTitle:before{
    position: absolute;
    content: " ";
    left: 0;
    top: 20px;
    width: 10%;
    height: 4px;
    background-color: #6a95cc;
}
.products .table{
    max-width: 800px;
    margin: auto;
}
.products td{
    min-width: 280px;
    padding: 10px;
    background-color: #fff;
    border-color: #e9e9e9 !important;
    transition: all linear .4s;
}
.products td:hover{
    background-color: #332b3a;
    box-shadow: 0 2px 5px #f6efed;
    color: #ffca01;
}
.products .filter{
    border-bottom: 2px solid #332b3a;
    margin-bottom: 50px;
    margin-top: 100px;
}
.products .filter .btn-filter{
    background-color: #fff;
    border:2px solid transparent;
    border-top-color: #332b3a;
    border-radius: 0;
    min-width: 170px;
    color: #332b3a; 
}
.products .filter .btn-filter:focus{
    box-shadow: unset;
    border:2px solid transparent;
    border-top-color: #332b3a;
}
.products .filter .dropdown-toggle:after{
    border-top: none;
    border-bottom: .3em solid;
}
.products .filter .dropdown-menu{
    border: 1px solid #332b3a;
    background-color: #fff;
    float: right;
    text-align: right;
    right: 0;
    border-radius: 0;
}
.products .filter .dropdown-item:hover{
    background-color: #332b3a;
    color: #ffca01;
}
.products .filter .dropdown-item:focus{
    background-color: #332b3a;
}
.products .filter .dropdown-toggle:after{
    color: #ffca01;
}
.products .filter .form-control{
    border-color: #132666;
}
.products .filetr .form-control:focus{
    border-color: #6a95cc !important;
}
.products .filter .btn-outline-secondary{
    transition: all linear .3s;
    border-color: #332b3a;
    background-color: #332b3a
}
.products .filter .btn-outline-secondary:hover{
    padding-left: 20px;
    padding-right: 20px;
}
.products .filter .btn-outline-secondary:focus{
    border-color: #f6efed;
    box-shadow: unset;
}
.products .filter i{
    color: #ffca01;
}
.products .card{
    overflow: hidden;
    margin-bottom: 30px;
    padding: 5px;
    transition: all ease .3s;
    color: #332b3a;
}
.products .imgProduct{
    position: relative;
    max-height: 270px;
    overflow: hidden;
    line-height: 35px;
}
.products .imgProduct img{
    height: 250px;
    transition: all ease .4s;
}
.products .card:hover .imgProduct img{
    filter: brightness(40%);
    transform: scale(1.1);
}
.products .features{
    position: absolute;
    background-color: transparent;
    color: #fff;
    top: -100%;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 25px;
    transition: all linear .5s;
}
.products .features a{
    color: #fff !important;
}
.products .card:hover .features{
    top: 0;
    bottom: 0;
}
.products .btn-samples , .products .btn-view{
    color: #fff !important;
    background-color: #6a95cc;
    border-radius: 20px;
    margin: 5px;
    font-size: 12px;
    transition: all .3s ease;
}
.products .btn-samples:hover,.products .btn-view:hover{
    color: #fff !important;
    border-radius: 5px;
}
.products .productCode{
    color: #ffca01 !important;
    font-weight: bold;
}
.products .callMe a{
    color: #6a95cc;
}
.products .callMe a:hover{
    color: #132666;
}
.products .callMe a i{
    transform: rotateZ(-10px) !important;
}
.products .callMe a:hover i{
    animation: rotate .5s ease infinite;
}
.products .btn-addToCart{
    background-color: #fff;
    color: #332b3a !important;
    box-shadow:  0 1px 5px #332b3a;
    width: 180px;
    font-size: 12px;
}
.products .btn-addToCart:hover{
    background-color: #ffca01;
    color: #332b3a !important; 
    box-shadow:  0 1px 5px #ffca01;
}
.products .badge-samples{
    background-color: #f6efed;
    color: #344c6c;
}
.products .samples:hover .badge-samples{
    background-color: #344c6c;
    color: #f6efed;
}
.products .ekko-lightbox .modal-body{
    padding: 3px;
}
.products .ekko-lightbox-nav-overlay a{
    opacity: .5;
}
.products .ekko-lightbox-nav-overlay a span:hover{
    color: #ec505d;
}
.products .ekko-lightbox-nav-overlay a:last-child span {
    text-align: left;
}
@media(max-width:375px){
    .products .filter .form-control{
        max-width: 130px !important;
    }
}
@media(max-width:992px){
    .products .filter .btn-filter{
        font-size: 30px;
        min-width: 300px;
    }
    .products .filter .dropdown-menu{
        font-size: 30px;
    }
    .products .filter .btn-outline-secondary{
        font-size: 30px;
    }
    .products .imgProduct{
        min-height: 620px;
    }
    .products .imgProduct img{
        width: 100%;
        height: 600px !important;
    }
    .products .btn-addToCart{
        font-size: 25px;
        width: 310px;
    }
    .products .features div{
        padding-top:10px;
        padding-bottom:10px;
    }
    .products .btn-samples, .products .btn-view {
        margin: 15px;
        padding:20px;
        font-size: 25px;
    }
    .products .btn-addToCart {
        width: 450px;
        font-size: 30px;
        padding:25px 10px;
    }
    .products .imgProduct img {
        height: 350px;
    }
    .products .card:hover .imgProduct img {
        transform: scale(1.3);
    }
    .products .container{
        margin-left:0 !important;
        margin-right:0 !important;
    }
}
@media(min-width:992px){
    .products .filter .form-control{
        min-width: 300px;
    }
}
@keyframes rotate{
    50%{
        transform: rotateZ(-40deg);
    }
}