
<div class="card">
    <div class="card-header PurchaseIsStart  d-flex justify-content-between" purchasestatus=0 >سبدهای در گام : انتخاب نوع و تعداد کالا<span class="badge badge-pill">0</span></div>
</div>
<div class="card">
    <div class="card-header DemandPrice  d-flex justify-content-between" purchasestatus=1>سبدهای در گام : درخواست قیمت توسط مشتری <span class="badge badge-pill">0</span></div>
</div>
<div class="card">
    <div class="card-header GetPrice d-flex justify-content-between" purchasestatus=2> سبدهای در گام : دریافت قیمت توسط مشتری <span class="badge badge-pill">0</span></div>
</div>
<div class="card">
    <div class="card-header ConfirmByClient  d-flex justify-content-between" purchasestatus=3>سبدهای در گام : تایید توسط مشتری<span class="badge badge-pill">0</span></div>
</div>
<div class="card">
    <div class="card-header ConfirmByAdmin  d-flex justify-content-between" purchasestatus=4>سبدهای در گام : تایید توسط ادمین<span class="badge badge-pill">0</span></div>
</div>

<div class="card">
    <div class="card-header PurchaseIsDone  d-flex justify-content-between" purchasestatus=6>سبدهای در گام: ثبت در سیستم حسابداری<span class="badge badge-pill">0</span></div>
</div>
<hr />
<div class="card">
    <div class="card-header PurchaseIsCancelled  d-flex justify-content-between" purchasestatus=5>سبدهای لغو شده<span class="badge badge-pill">0</span></div>
</div>