@using SoltaniWeb.Models.Domain
@{
    _4820_soltaniwebContext db2 = new _4820_soltaniwebContext();
    var sections = db2.tbl_section;
    var categories = db2.tbl_category;
}
<form autocomplete="off">
    <div class="card">
        <div class="card-body p-0">
            <div class="form-horizontal p-3" style="box-shadow:0 1px 3px #808080">
                <div class="form-group my-3" style="margin-right:5px; margin-left:5px;">
                    <div class="TextButtom">

                        <input id="filterstring" type="search" placeholder="نام کالا، برند، دسته رنگ و یا کد کالای مورد نظر ..." autocomplete="off" value="@(ViewBag.filter!=""?ViewBag.filter:"")" />
                        <button class="Delete"><i class="fas fa-eraser"></i></button>
                    </div>
                </div>
                <partial name="~/Views/Shared/Partiallistkala/_PartialCategoriesSections.cshtml">

                    <div class="form-group my-3">
                        <div class="row">
                            <label class="control-label col-md-4">  وضعیت کالا :</label>
                            <div class="col-md-8">
                                <select id="status" class="form-control">
                                    <option value="0">تمام کالا ها</option>
                                    <option value="1">کالاهای موجود</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group my-3">
                        <div class="row">
                            <label class="control-label col-md-4">  ترتیب  :</label>
                            <div class="col-md-8">
                                <select id="order" class="form-control">
                                    <option value="0">بر اساس موجودی</option>
                                    <option value="1">بر اساس نام برند</option>
                                    <option value="2">بر اساس حروف الفبا</option>
                                    <option value="3">بر اساس کد</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group my-3">
                        <div class="row">
                            <label class="control-label col-md-4">  تعداد نمایش  :</label>
                            <div class="col-md-8">
                                <select id="numberinpage" class="form-control">

                                    <option value="12">12</option>
                                    <option value="16">16</option>
                                    <option value="20">20</option>
                                    <option value="24">24</option>
                                    <option value="28">28</option>
                                </select>
                            </div>
                        </div>
                    </div>

            </div>
            <div class="card-footer" style="background-color:#332b3a">
                <div class="form-group mb-0 py-3">
                    <div class="text-center">
                        <button type="submit" class="btn searchproductsbyuser" style="background-color:#6a95cc;min-width:100px !important">جستجو</button>
                        <button type="submit" class="btn btn-warning Reset" style="min-width:100px !important">Reset</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>


<script>
    $('.Delete').click(function (e) {
        e.preventDefault()
        $(filterstring).val('')
        $(filterstring).focus()
    })
    $('.Reset').click(function (e) {
        e.preventDefault()
        $(filterstring).val('')
        $('select').val(0)
    })
</script>