@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using SoltaniWeb.Models.structs.SectionVM

<div class="k-rtl">

    @(Html.Kendo().Grid<SectionViewModel>()
                          .Name("gridSection")
                          .Columns(columns =>
                          {

                              columns.Select().Width(50);

                              columns.Bound(p => p.Name).Filterable(filter =>
                              {
                                  filter.Operators(op =>
                                  {
                                      op.ForString(str =>
                                      {
                                          str.Clear().Contains("شامل").IsEqualTo("مساوی با");

                                      });


                                  });
                              }).Width(130).Title("نام");
                              columns.Bound(p => p.Shortname).Filterable(filter =>
                              {
                                  filter.Operators(op =>
                                  {
                                      op.ForString(str =>
                                      {
                                          str.Clear().Contains("شامل").IsEqualTo("مساوی با");

                                      });


                                  });
                              }).Width(130).Title("نام مخفف");
                              columns.Bound(p => p.Keywords).Filterable(filter =>
                              {
                                  filter.Operators(op =>
                                  {
                                      op.ForString(str =>
                                      {
                                          str.Clear().Contains("شامل").IsEqualTo("مساوی با");

                                      });


                                  });
                              }).Width(130).Title("کیبورد");
                          })
                          .Pageable(pageable => pageable
                              .Refresh(true)
                              .PageSizes(new int[] { 10, 20, 50, 100 })
                              .ButtonCount(10))
                          .PersistSelection()
                          .Scrollable()
                          .Events(ev => ev.Change("onChangeSection"))
                          .Resizable(resizable => resizable.Columns(true))
                          .Filterable()
                          .DataSource(dataSource => dataSource
                              .Ajax()
                              .PageSize(10)
                              .ServerOperation(false)
                              .Model(model => model.Id(p => p.Id))
                              .Read(read =>
                                  read.Action("Section_Read", "Company").Data("AddFilterSection"))))
</div>