


<div class="row">

    <div class="col-xs-12">
        <center>
            <p>
                <a href="https://www.instagram.com/soltaniwoodproducts" class="feed" title="instargam"><img alt="instargam" src="~/Content/img/icon/instagram.png" width="32" height="32"></a>
                <a href="http://t.me/soltaniwoodproducts" class="feed" title="Telegram"><img alt="telegram" src="~/Content/img/icon/telegram.png" width="32" height="32"></a>
                <a href="http://www.aparat.com/soltaniwoodproducts/%DA%A9%D8%A7%D9%84%D8%A7%DB%8C_%DA%86%D9%88%D8%A8_%D8%B3%D9%84%D8%B7%D8%A7%D9%86%DB%8C" class="feed" title="Aparat"><img alt="aparat" src="~/Content/img/icon/aparat.png" width="32" height="32"></a>


            </p>
          
            <p>
                <span class="myfont" style=" font-size:12px; font-weight:800;"> تمامی حقوق مادی و معنوی این وب سایت متعلق به کالای چوب سلطانی می باشد </span>

            </p>

        </center>
    </div>
</div>



