@model IList<SoltaniWeb.Models.Domain.tbl_products>

@{
    //ViewBag.Title = "ACK";
    ViewBag.description = " نمونه رنگ های ملامینه رویال  " + " - " + "فروش در شیراز و استان فارس" + " -  " + "MDF  مشخصات";
    ViewBag.howtoindex = "index";
    Layout = "~/Views/shared/_layoutbootstarp.cshtml";
    SoltaniWeb.Models.repository.samplerepository samrep = new SoltaniWeb.Models.repository.samplerepository();
    SoltaniWeb.Models.Domain._4820_soltaniwebContext db = new SoltaniWeb.Models.Domain._4820_soltaniwebContext();
    SoltaniWeb.Models.repository.entityproducutsreposit entityrep = new SoltaniWeb.Models.repository.entityproducutsreposit();
    string username = Context.Session.GetString("username");
    var qusersq = db.tbl_user.Where(a => a.username == username && (a.Access == 0 || a.Access == 1)).SingleOrDefault();
}
<head>
    <title></title>


    <script src="~/Scripts/lightbox/js/modernizr.custom.js"></script>
    <link href="~/Scripts/lightbox/css/lightbox.css" rel="stylesheet" />

</head>




<script src="~/Scripts/lightbox/js/lightbox-2.6.min.js"></script>


<div class="container-fluid products" data-aos="fade-up">
    <div class="row my-4">
        <div class="col-12">
            <div style="position:relative">
                <h5 class="my-5 productsTitle"> کالیته ملامینه رویال<span style="color:#132666"></span></h5>
            </div>
            @if (Model.FirstOrDefault().category.fulldescription != null)
            {
                <div style="box-shadow:0 3px 10px #aab3c2; padding:30px">
                    @Html.Raw(Model.FirstOrDefault().category.fulldescription)
                </div>
            }
        </div>
    </div>
    <div id="imagegallerydetaile" class="row myfont">
        @Html.Partial("~/Views/shared/_Partialproductslist.cshtml", Model);
    </div>
    @*<div class="keyword d-flex mt-4">
            <p class="bold ml-4 px-4">کلمات کلیدی</p>
            <div>
                @foreach (var item in keywords.Split('-'))
                {
                    <a href="/products/Searchproducts?filter=@item" class="btn">@item</a>
                }
            </div>
        </div>*@
</div>

















